<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src]='productItem.imageURL'>
    <div class="card-body">
        <p class="card-text">
            <!--Loading products properties -->
            <strong>{{ productItem.price | currency:'USD'}}</strong>
        </p>
        <p class="card-text">{{productItem.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn" (click)='handleAddToCart()'>Add To
                    Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
            </div>
        </div>
    </div>